{% extends 'base.html' %}

{% block content %}

<h1> {% block title %} Modify category {% endblock %} </h1>

<article class="form">

    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
    
        <div class="pure-control-group">
            <label for="name"> Name </label>
            <input type="text" name="name" placeholder="Name" value="{{ category['name'] }}" required="">
        </div>
    
        <div class="pure-control-group">
            <label class="pure-control-group" for="description"> Description </label>
            <input type="text" name="description" placeholder="Description" value="{{ category['description'] }}" required=""> 
        </div>
    
        <button class="pure-button pure-button-primary" type="submit">Modify</button>
        </fieldset>
    </form>
  
</article>


{% endblock %}