{% extends 'base.html' %}


{% block optional %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/test.css') }}">
{% endblock %} 

{% block content %}


<h1 class="listar"> {% block title %} Tests {% endblock %} </h1>

{% if username != "" or username == None %}
<a href="/tests/add" class="pure-button pure-button-primary"
    ><i class="fa-solid fa-plus"></i>  &nbsp; Add test </a>
{% endif %}

<article class="filter">
    <p>Filter tests</p>

    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label class="pure-control-group" for="category"> Test category </label>
                <select name="category">
                    <option value="">No filter</option>
                    {% if categorylist != -1 %}
                        {% for category in categorylist %}
                        <option value="{{ category['_id'] }}">{{ category['name'] }}</option>
                        {% endfor %}
                    {% endif %}                
                </select>
            </div>
    
            <div class="pure-control-group">
                <label class="pure-control-group" for="sampletype"> Sample type </label>
                <select name="sampletype">
                    <option value="">No filter</option>
                    {% if sampletypelist != -1 %}
                        {% for sampletype in sampletypelist %}
                        <option value="{{ sampletype['_id'] }}">{{ sampletype['name'] }}</option>
                        {% endfor %}
                    {% endif %}    
                </select>
            </div>
    
            <button class="pure-button pure-button-primary" type="submit">Filter</button>
        </fieldset>
    </form>
</article>


<table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

        {% for test in testlist %}
        <tr>
            <td>{{ test["name"] }}</td>
            <td>{{ test["price"] }} Bs.</td>

            {% if username != "" or username == None %}
            <td><a href="/tests/{{ test['_id'] }}" class="pure-button"><i class="fa-solid fa-circle-info"></i></a> 
                <a href="/tests/update/{{ test['_id'] }}" class="pure-button"><i class="fa-solid fa-pen-to-square"></i></a> 
                <a href="/tests/delete/{{ test['_id'] }}" class="pure-button"><i class="fa-solid fa-trash"></i></a></td>
            {% else %}
            <td><p>Log in for options</p></td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}