{% extends 'base.html' %} {% block content %}

<h1 class="listar">{% block title %} Categories {% endblock %}</h1>

{% if username != "" or username == None %}
<a href="/categories/add" class="pure-button pure-button-primary"
    ><i class="fa-solid fa-plus"></i>  &nbsp; Add category </a
>
{% endif %}

<table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
        <tr>
            <th>Category name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

        {% for category in categorylist %}
        <tr>
            <td>{{ category["name"] }}</td>

            {% if username != "" or username == None %}
            <td><a href="/categories/{{ category['_id'] }}" class="pure-button"><i class="fa-solid fa-circle-info"></i></a> 
                <a href="/categories/update/{{ category['_id'] }}" class="pure-button"><i class="fa-solid fa-pen-to-square"></i></a> 
                <a href="/categories/delete/{{ category['_id'] }}" class="pure-button"><i class="fa-solid fa-trash"></i></a></td>

            {% else %}
            <td><p>Log in for options</p></td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
